#cloud-config
users:
  - name: dev
    groups: [sudo]
    shell: /bin/bash
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    ssh_authorized_keys:
      - https://github.com/haron.keys

package_update: true
package_upgrade: false

packages:
  - git
  - tailscale
  - ripgrep
  - mosh
  - curl
  - moreutils
  - python3
  - tmux
  - htop
  - vim
  - neovim
  - lua-check
  - stow
  - fzf
  - fd-find
  - gh
  - pdsh
  - ansible
  - bat
  - unzip
  - ufw

write_files:
  - path: /etc/sysctl.d/99-tailscale.conf 
    content: |
      net.ipv4.ip_forward = 1
      net.ipv6.conf.all.forwarding = 1'

  - path: /home/dev/.bash_profile
    owner: dev:dev
    content: |
      if [[ -z "$TMUX" ]]; then
          tmux attach -t main 2>/dev/null || tmux new -s main
      fi
      [[ -f ~/.bashrc ]] && source ~/.bashrc
  
  - path: /home/dev/.claude/settings.json
    owner: dev:dev
    content: |
      {
        "hooks": {
          "PreToolUse": [{
            "matcher": "AskUserQuestion",
            "hooks": [{
              "type": "command",
              "command": "~/telegram.py question"
            }]
          }]
        }
      }

runcmd:
  - |
    sh -c '
      set -eux

      curl -LsSf https://astral.sh/uv/install.sh | sh
      curl -fsSL https://claude.ai/install.sh | bash
      curl -fsSL https://tailscale.com/install.sh | sh

      sysctl -p /etc/sysctl.d/99-tailscale.conf

      ufw default deny incoming
      ufw default allow outgoing
      ufw allow in on tailscale0
      ufw allow in  proto udp to any port 41641
      ufw allow out proto udp to any port 41641

      tailscale up --auth-key=${TS_AUTH_KEY}
    '
